<div class="">
  <div class="card mb-0">
    <div class="card-close">
      <div class="dropdown">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Mantenimiento de Compra</h3>
    </div>
    <div *ngIf="cargando">
      <app-cargando></app-cargando>
    </div>
    <div class="card-body mr-2 ml-2" *ngIf="!cargando">
      <form class="form-horizontal" #formulario="ngForm" (ngSubmit)="guardarCompra()">
        <div class="card border-dark mb-3 col-sm-12">
          <div class="card-body text-center p-1">
            <b>La compra se esta realizando por {{authService.getNombrecompleto()}}</b>
          </div>
        </div>
        <div>
          <h6>CAPTADOR O COMISIONISTA</h6>
          <div class="card border-dark mb-3 col-sm-12">
            <div class="card-body p-2">
              <div class="row">
                <div class="col-sm-6">
                  <label class="form-control-label">Captador:</label>
                  <input type="text" class="form-control form-control-sm" maxlength="20" name="captador" [(ngModel)]="captador.nombre">
                </div>
                <div class="col-sm-6">
                  <label class="form-control-label">Comision:</label>
                  <input type="number" class="form-control form-control-sm" name="comision" placeholder="Valores numericos" [(ngModel)]="captador.comision">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h6>PROPIETARIO</h6>
          <div class="card col-sm-12 mb-3">
            <div class="card-body p-2">
              <div class="row">
                <div class="col-sm-12">
                  <label class="form-control-label">Persona:</label>
                  <div class="input-group">
                    <label class="form-control form-control-sm">{{persona.nombre}} {{persona.appaterno}} {{persona.apmaterno}}</label>
                    <button type="button" class="btn btn-primary btn-sm" (click)="abrirModalPropietario()">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
                <div class="col-sm-6" *ngIf="persona.dni">
                  <label class="form-control-label">DNI</label>
                  <label class="form-control form-control-sm">
                    {{ persona.dni }}
                  </label>
                </div>
                <div class="col-sm-6" *ngIf="persona.idestado">
                  <label class="form-control-label">Estado Civil</label>
                  <label class="form-control form-control-sm">
                    {{ persona.idestado.nombre }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h6>PROPIETARIO / RELACION
            <a id="closeCard2" style="float:right;" class="btn-link cursor-pointer" (click)="abrirModalAllegados()">
              <i class="fa fa-plus-circle"></i> Nuevo</a>
          </h6>
          <div class="card col-sm-12 mb-3">
            <div class="card-body p-2">
              <div class="row">
                <div class="table-responsive col-sm-12">
                  <table class="table table-striped table-bordered table-sm mb-0" id="tabla1">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Parentesco</th>
                        <th style="width: 30px">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="cursor-pointer" *ngFor="let or of allegadosList;let i=index">
                        <td>{{i+1}}</td>
                        <td>
                          <label class="form-control mb-0">{{or.idpersona.nombre}} {{or.idpersona.appaterno}} {{or.idpersona.apmaterno}} - DNI: {{or.idpersona.dni}}</label>
                        </td>
                        <td>
                          <select class="form-control form-control-sm mb-0" required [(ngModel)]="or.idrelacion" name="relacion-{{i}}">
                            <option [ngValue]="o" *ngFor="let o of relacion">{{o.nombre}}</option>
                          </select>
                        </td>
                        <td style="width: 30px;" class="text-center">
                          <a>
                            <i class="fa fa-close fa-2x text-danger" (click)="confirmarEliminacion(or)"> &nbsp;&nbsp;</i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h6>PREDIO</h6>
          <div class="card col-sm-12 mb-3">
            <div class="card-body p-2">
              <div class="row">
                <ngb-tabset [destroyOnHide]="false" class="col-sm-12">
                  <ngb-tab title="General">
                    <ng-template ngbTabContent>
                      <br/>
                      <div class="row">
                        <div class="col-sm-6">
                          <label class="form-control-label">Partida:</label>
                          <input type="text" class="form-control form-control-sm" maxlength="20" required="" name="partida" placeholder="Ingrese partida"
                            [(ngModel)]="predio.partida">
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-control-label">Ubigeo:</label>
                            <div class="input-group">
                              <input type="text" class="form-control form-control-sm" disabled [(ngModel)]="predio.idubigeo.nombre" name="idubigeo" placeholder="Seleccione el ubigeo">
                              <div class="input-group-append">
                                <button type="button" class="btn btn-primary btn-sm" (click)="abrirModalUbigeo()">
                                  <i class="fa fa-search"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <label class="form-control-label">Ubicacion</label>
                          <input type="text" class="form-control form-control-sm" maxlength="200" required="" name="ubicacion" placeholder="Ingrese ubicacion"
                            [(ngModel)]="predio.ubicacion">
                        </div>
                      </div>
                      <br/>
                      <div class="row">
                        <div class="col-sm-2">
                          <label class="form-control-label">Mz:</label>
                          <input type="text" class="form-control form-control-sm" maxlength="10" required="" name="mz" placeholder="Mz." [(ngModel)]="predio.mz">
                        </div>
                        <div class="col-sm-2">
                          <label class="form-control-label">Lote:</label>
                          <input type="text" class="form-control form-control-sm" maxlength="10" required="" name="lote" placeholder="Lote" [(ngModel)]="predio.lote">
                        </div>
                        <div class="col-sm-2">
                          <label class="form-control-label">SubLote:</label>
                          <input type="text" class="form-control form-control-sm" maxlength="10" required="" name="sublote" placeholder="Sub" [(ngModel)]="predio.sublote">
                        </div>
                        <div class="col-sm-6">
                          <label class="form-control-label">Frente</label>
                          <input type="text" class="form-control form-control-sm" maxlength="40" required="" name="frente" placeholder="Frente" [(ngModel)]="predio.frente">
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Colindantes">
                    <ng-template ngbTabContent>
                      <br/>
                      <div class="row">
                        <div class="col-sm-4">
                          <label class="form-control-label">Area:</label>
                          <input type="text" class="form-control" required="" name="area" value="0.00" [(ngModel)]="colindante.area">
                        </div>
                        <div class="col-sm-2">
                          <label class="form-control-label">Frente:</label>
                          <input class="form-control" rows="2" cols="8" required="" placeholder="Mts de area" name="frente1" [(ngModel)]="colindante.frente1">
                          <input class="form-control" rows="2" cols="8" required="" placeholder="Mts de area" name="frente2" [(ngModel)]="colindante.frente2">
                        </div>
                        <div class="col-sm-2">
                          <label class="form-control-label">Derecha:</label>
                          <input class="form-control" rows="2" cols="8" required="" placeholder="Mts de area" name="derecha1" [(ngModel)]="colindante.derecha1">
                          <input class="form-control" rows="2" cols="8" required="" placeholder="Mts de area" name="derecha2" [(ngModel)]="colindante.derecha2">
                        </div>
                        <div class="col-sm-2">
                          <label class="form-control-label">Izquierda:</label>
                          <input class="form-control" rows="2" cols="8" required="" placeholder="Mts de area" name="izquierda1" [(ngModel)]="colindante.izquierda1">
                          <input class="form-control" rows="2" cols="8" required="" placeholder="Mts de area" name="izquierda2" [(ngModel)]="colindante.izquierda2">
                        </div>
                        <div class="col-sm-2">
                          <label class="form-control-label">Fondo:</label>
                          <input class="form-control" rows="2" cols="8" required="" placeholder="Mts de area" name="fondo1" [(ngModel)]="colindante.fondo1">
                          <input class="form-control" rows="2" cols="8" required="" placeholder="Mts de area" name="fondo2" [(ngModel)]="colindante.fondo2">
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Servicios">
                    <ng-template ngbTabContent>
                      <br/>
                      <div class="row">
                        <div class="col-sm-4">
                          <div *ngFor="let s of servicios; let i=index;">
                            <p-checkbox name="group1" value={{s.id}} label={{s.nombre}} [(ngModel)]="selectedServicios" inputId="la-{i}"></p-checkbox>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-sm-2 form-control-label">Codigo SNIP:</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" name="snip" placeholder="Ingrese codigo SNIP">
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Precios">
                    <ng-template ngbTabContent>
                      <br/>
                      <app-modal-precios></app-modal-precios>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer p-1">
          <button type="submit" class="btn btn-primary" *ngIf="!predio.id" [disabled]="!formulario.form.valid || !predio.idubigeo || !predio.idubigeo.id || !persona.nombre">Guardar</button>
          <button type="submit" class="btn btn-primary" *ngIf="predio.id" [disabled]="!formulario.form.valid || !predio.idubigeo || !predio.idubigeo.id || !persona.nombre">Actualizar</button>
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>