<div class="">
  <div class="card mb-0">
    <div class="card-close">
      <div class="dropdown">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="card-header d-flex align-items-center" >
      <h3 class="h4">Proyecto Nuevo</h3>
    </div>
    <div *ngIf="cargando">
      <app-cargando></app-cargando>
    </div>
    <div *ngIf="!cargando" class="card-body mr-2 ml-2">
      <form *ngIf="!cargando" class="form-horizontal" #formulario="ngForm" (ngSubmit)="guardarproyecto()" name="frm">
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Codigo </label>
          <div class="col-sm-9">
            <input type="text" maxlength="50" required class="form-control" name="codigo" [(ngModel)]="proyecto.codigo" placeholder="Ingrese Codigo">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Nombre </label>
          <div class="col-sm-9">
            <input type="text" maxlength="100" required class="form-control" name="nombre" [(ngModel)]="proyecto.nombre" placeholder="Ingrese Nombre">
          </div>
        </div>
        <div class="line"></div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-sm" *ngIf="!proyecto.id" [disabled]="!formulario.form.valid">Guardar</button>
          <button type="submit" class="btn btn-primary btn-sm" *ngIf="proyecto.id" [disabled]="!formulario.form.valid">Actualizar</button>

          <button type="button" class="btn btn-outline-dark btn-sm" (click)="activeModal.dismiss('Cross click')">Cancelar</button><!--(click)="abrirlistado()"-->
        </div>
      </form>
    </div>
  </div>
</div>
