<section class="tables">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <p-table [columns]="cols" [value]="listacompra" dataKey="name" [paginator]="true" [rows]="10">
            <ng-template pTemplate="caption1">
              <div style="text-align: center">
                Compras
              </div>
            </ng-template>
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width: 2.25em"></th>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
              <tr>
                <td>
                  <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                  </a>
                </td>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
              <tr>
                <td [attr.colspan]="columns.length + 1">
                  <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                    <p-treeTable [value]="files1" selectionMode="single" [(selection)]="selectedFile2" [contextMenu]="cm">
                      <p-column field="name" header="Name"></p-column>
                      <p-column field="size" header="Size"></p-column>
                      <p-column field="type" header="Type"></p-column>
                    </p-treeTable>
                    <p-contextMenu #cm [model]="items"></p-contextMenu>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="10" totalRecords="paginacion.totalRegistros" pageLinkSize="3" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 table-responsive">
            <ngb-pagination style="margin-bottom: 0px;" class="ngb-pagination-sigro" [collectionSize]="paginacion.totalRegistros" [(page)]="page" [maxSize]="1" [boundaryLinks]="true" (pageChange)="busqueda()"></ngb-pagination>
          </div>
          <div class="col-md-6 text-right pr-3">
            <p class="card-text text-secondary"><small>Mostrando {{paginacion.paginaActual}} de {{paginacion.totalPaginas}} páginas.</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
