<div class="">
  <div class="card mb-0">
    <div class="card-close">
      <div class="dropdown">
      </div>
    </div>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Mantenimiento de Usuarios</h3>
    </div>
    <div *ngIf="cargando">
      <app-cargando></app-cargando>
    </div>
    <div class="card-body pb-0">
      <div *ngIf="!cargando && !vistaFormulario" class="form-horizontal" style="padding: 2px">
        <section class="tables pt-0 pb-0">
          <div class="container-fluid" style="padding: 0px">
            <div  class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-close mb-2">
                    <a id="closeCard2" class="btn-link cursor-pointer" (click)="abriModalNuevoUsuario()"><i class="fa fa-plus-circle"></i> Nuevo</a>
                  </div>
                  <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Listado de Usuarios</h3>
                  </div><!--Usuarios-->
                  <div class="card-body">
                    <div class="table-responsive">

                      <table class="table table-striped" >
                        <thead>
                        <tr>
                          <th>id</th>
                          <th>Nombre Usuario</th>
                          <th>DNI</th>
                          <th>Nombre</th>
                          <th>Estado</th>
                          <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="cursor-pointer" *ngFor="let u of usuariosLista;let i=index">
                          <td>{{u.id}}</td>
                          <td >{{u.userId}} {{u.apellido}}</td>
                          <td >{{u.dni}}</td>
                          <td >{{u.nombre}}</td>
                          <td>{{u.estado?'HABILITADO':'DESHABILITADO'}}</td>
                          <td scope="row "  style="width: 140px">
                            <ui-switch size="small" [(ngModel)]="u.estado" name="estado" (click)="confirmarCambioEstadoUsuario(u)">estado</ui-switch>
                            <a class="btn-link curso-pointer" (click)="traerParaEdicion(u.id)" title="editar"><i class="fa fa-edit text-primary" style="font-size: 23px; "></i></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div>
          <div class="row mb-3">
            <div class="col-md-6 table-responsive">
              <ngb-pagination style="margin-bottom: 0px;" class="ngb-pagination-sigro" [collectionSize]="paginacion.totalRegistros" [(page)]="page" [maxSize]="1" [boundaryLinks]="true" (pageChange)="listarModalUsuarios()"></ngb-pagination>
            </div>
            <div class="col-md-6 text-right pr-3">
              <p class="card-text text-secondary"><small>Mostrando {{paginacion.paginaActual}} de {{paginacion.totalPaginas}} páginas.</small></p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="limpiar()">Limpiar</button>
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Cancelar</button>
          </div>
        </div>
      </div>

      <!--FormularioNuevo-->
      <div *ngIf="vistaFormulario && !cargando">
        <form class="form-horizontal" #formulario="ngForm" (ngSubmit)="guardarUsuarios()">
          <div class="card-header d-flex align-items-center">
            <h5 class="h4" align="left"*ngIf="usuarios.id">Editar persona </h5>
            <h5 class="h4" align="left" *ngIf="!usuarios.id">Agregar nueva persona </h5>
          </div>
          <div *ngIf="cargando">
            <p>Cargando....</p>
            <app-cargando></app-cargando>
          </div>
          <div class="pt-3">
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Estado <span class="text-primary">*</span> </label>
              <div class="col-sm-2" >
                <ui-switch  *ngIf="usuarios.id" [(ngModel)]="usuarios.estado" name="estado"  >estado</ui-switch>
                <ui-switch  *ngIf="!usuarios.id"  [checked]="true"  name="estado1" >estado</ui-switch>
              </div>
              <label class="col-sm-3 form-control-label">D.N.I. <span class="text-primary">*</span></label>
              <div class="col-sm-4">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" name="numerodni" required="" class="form-control" maxlength="8" [(ngModel)]="usuarios.dni">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-primary"  (click)="busquedaPorDni(usuarios.dni)"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Nombre.  <span class="text-primary">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="nombre" required="" placeholder="Ingrese nombre completo" maxlength="50" [(ngModel)]="usuarios.nombre">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Apellido.  <span class="text-primary">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="apellido" required="" maxlength="20" [(ngModel)]="usuarios.apellidos" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Correo</label>
              <div class="col-sm-9">
                <input type="text" name="correo"  required="" class="form-control" maxlength="50" [(ngModel)]="usuarios.correo">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Direccion</label>
              <div class="col-sm-9">
                <input type="text" name="direccion"  required="" class="form-control" maxlength="255" [(ngModel)]="usuarios.direccion">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Celular</label>
              <div class="col-sm-9">
                <input type="text" name="celular"  required="" class="form-control" maxlength="255" [(ngModel)]="usuarios.celular">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Nombre de Usuario</label>
              <div class="col-sm-9">
                <input type="text" name="user"  required="" class="form-control" maxlength="255" [(ngModel)]="usuarios.userId">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Contraseña</label>
              <div class="col-sm-9">
                <input type="text" name="contrasenna"  required="" class="form-control" maxlength="255" [(ngModel)]="usuarios.password">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Empresa</label>
              <div class="col-sm-9">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" disabled [(ngModel)]="usuarios.idempresa.razonsocial" name="idempresa">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-primary"  (click)="traerEmpresa()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pc-line-neg row box-line-negocio no-gutters justify-content-between align-items-center mt-3 p-2" style="background-color: antiquewhite">
              <div class="col">
                Asignar Roles a esta persona
              </div>
              <div class="col-auto">
                <a (click)="abrirModalRol()"><i class="fa fa-plus-circle fa-2x cursor-pointer text-primary" ></i></a>
              </div>
            </div>
            <div class="form-row" >
              <div class="col table-responsive"  *ngIf="(listaPR && listaPR.length>0)"  >
                <table class="table table-sigro table-hover"  >
                  <thead class="thead-inverse" >
                  <tr>
                    <th>Roles.</th>
                    <th style="width:30px;">Opciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="cursor-pointer" *ngFor="let item of listaPR; let i = index;">
                    <td>
                      {{item.idRol.nombre}}
                    </td>
                    <td style="padding-top: 0px; padding-bottom: 0px;">
                      <ui-switch size="small" *ngIf="usuarios.id" [(ngModel)]="item.estado" name="es5-{{i}}" >estado</ui-switch>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" *ngIf="!usuarios.id" [disabled]="!formulario.form.valid" >Guardar</button>
              <button type="submit" class="btn btn-primary" *ngIf="usuarios.id" [disabled]="!formulario.form.valid">Actualizar</button>
              <button type="button" class="btn btn-outline-dark" (click)="vistaFormulario = false">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
