<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Datos de la Empresa</h2>
  </div>
</header>
<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow cursor-pointer">
      <div class="col-xl-2 col-sm-6" (click)="abrirDatos()">
        <div class="item d-flex align-items-center">
          <div class="icon bg-violet"><i class="fa fa-home"></i></div>
          <div class="title"><span>La Empresa</span>
            <div class="progress">
              <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6" (click)="abrirPrograma()">
        <div class="item d-flex align-items-center">
          <div class="icon bg-red"><i class="fa fa-group"></i></div>
          <div class="title"><span>Los Programas</span>
            <div class="progress">
              <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6" (click)="abrirIngenieros()">
        <div class="item d-flex align-items-center">
          <div class="icon bg-green"><i class="fa fa-user-plus"></i></div>
          <div class="title"><span>Los Ingenieros</span>
            <div class="progress">
              <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-sm-6">
        <div class="item d-flex align-items-center" (click)="abrirSucursal()">
          <div class="icon bg-orange"><i class="fa fa-address-card"></i></div>
          <div class="title"><span>Las Sucursales</span>
            <div class="progress">
              <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-12">
        <div class="item d-flex align-items-center" (click)="abrirApoderado()">
          <div class="icon bg-orange"><i class="fa fa-file-archive-o"></i></div>
          <div class="title"><span>Los Apoderados-Formatos</span>
            <div class="progress">
              <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="{#val.value}" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
