<div class="">
  <div class="card mb-0">
    <div class="card-close">
      <div class="dropdown">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4" *ngIf="!vistaFormulario">Nuevo Plan de cuenta</h3>
    </div>
    <div *ngIf="cargando">
      <app-cargando></app-cargando>
    </div>
    <div class="card-body pb-0">
      <div *ngIf="!cargando" class="form-horizontal" style="padding: 4px">
        <section class="tables pt-0 pb-0">
          <div class="container-fluid pt-3" style="padding: 4px">
            <form class="row" (ngSubmit)="guardarPlanCuenta()">
              <div class="col-lg-12">
                <div class="card mb-0">
                  <div class="card body mb-0">
                    <div class="form-group" style="padding: 4px">
                      <div class="form-group">
                        <label class="col-sm-12 form-control-label" placeholder="hola">Codigo</label>
                        <div class="form-group" style="padding: 4px">
                          <input type="text" class="form-control" [(ngModel)]="planCuentas.codigo" name="codigo" value="">   </div>
                        </div>
                      <div  class="form-group" style="padding: 4px">
                        <label class="col-sm-12 form-control-label">Nombre</label>
                        <div class="form-group" style="padding: 4px">
                            <input type="text" class="form-control" [(ngModel)]="planCuentas.detalle" name="detalle" value="">
                        </div>
                       </div> 
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary btn-sm" *ngIf="!planCuentas.id">Guardar</button>
                  <button type="submit" class="btn btn-primary  btn-sm" *ngIf="planCuentas.id" >Editar</button>
                  <button type="button" class="btn btn-outline-dark  btn-sm" (click)="activeModal.dismiss('Cross click')">Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>