<div class="">
  <div class="card mb-0">
    <div class="card-close">
      <div class="dropdown">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4" *ngIf="!vistaFormulario">Nuevo Plan de cuenta</h3>
    </div>
    <div *ngIf="cargando">
      <app-cargando></app-cargando>
    </div>
    <div class="card-body pb-0">
      <div *ngIf="!cargando && !vistaFormulario" class="form-horizontal" style="padding: 2px">
        <section class="tables pt-0 pb-0">
          <div class="container-fluid pt-3" style="padding: 0px">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover table-sm">
                        <tbody>
                          <form>
                              <label class="col-sm-6 form-control-label" placeholder="hola">Nombre</label>
                              <input type="text" class="form-control" name="" value="">
                              <label class="col-sm-6 form-control-label">Codigo</label>
                              <input type="text" class="form-control" name="" value="">
                              <label class="col-sm-6 form-control-label">Importe</label>
                              <input type="number" min="0" class="form-control" name="" value="">
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Cancelar</button>
                              </div>
                          </form>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-outline-blue" (click)="activeModal.dismiss('Cross click')">Ok</button>
        </div> -->
      </div>
    </div>
  </div>