<div class="">
  <div class="card mb-0">
    <div class="card-close">
      <div class="dropdown">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Datos principales del programa</h3>
    </div>

    <div *ngIf="cargando">
      <app-cargando></app-cargando>
    </div>

    <div *ngIf="!cargando" class="card-body pb-0">
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Nombre</label>
          <div class="col-sm-9">
            <input  maxlength="50" type="text" class="form-control" name="nombre" [(ngModel)]="programa.nombre">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Codigo</label>
          <div class="col-sm-9">
            <input maxlength="15" type="text" class="form-control" name="codigo" [(ngModel)]="programa.codigoet" ><small class="help-block-none">Este atributo es fundamental, se recomienda no cambiarlo.</small>
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Max. Valor terreno</label>
          <div class="col-sm-9">
            <input maxlength="19" type="number" name="maximovalor" [(ngModel)]="programa.maximovalor" class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Importe Bono Familiar</label>
          <div class="col-sm-9">
            <input   maxlength="19" type="number" name="importe" [(ngModel)]="programa.importe" class="form-control">
          </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Correlativo contrato</label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-md-6">
                <input maxlength="20" type="text" [(ngModel)]="programa.correlativocontrato1" class="form-control" name="manzana">
              </div>
              <div class="col-md-6">
                <input maxlength="20" type="text" [(ngModel)]="programa.correlativocontrato2" class="form-control" name="lote">
              </div>
            </div>
          </div>
        </div>
        <section class="tables pt-0 pb-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-close mb-2">
                    <a id="closeCard2" class="btn-link cursor-pointer"><i class="fa fa-plus-circle"></i> Agregar a programa</a>
                  </div>
                  <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Ingenieros</h3>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Codigo</th>
                            <th>Dni</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="cursor-pointer">
                            <th scope="row">1</th>
                            <td>Marcos Cruzado</td>
                            <td>18032</td>
                            <td>45443457</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="tables pt-0 pb-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-close mb-2">
                    <a id="closeCard1" class="btn-link cursor-pointer"><i class="fa fa-plus-circle"></i> Nuevo</a>
                  </div>
                  <div class="card-header d-flex align-items-center">
                    <h3 class="h4">Especificaciones Técnicas</h3>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Estructura</th>
                          <th>Etapa</th>
                          <th>Especificaciones</th>
                          <th>*</th>
                          <th>Valor M2</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr class="cursor-pointer">
                            <th scope="row">1</th>
                            <td>Estructura</td>
                            <td>Muros y columnas</td>
                            <td>PLACA DE CONCRETO ALBAÑILERIA ARMADA LADRILLO O SIMILAR CON COLUMNAS Y VIGAS</td>
                            <td>C</td>
                            <td>190.57</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="guardarProgramas()">Aceptar</button>
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
