<form class="">
  <div class="row">
    <label class="col-sm-2 form-control-label">Proyecto:</label>
    <div class="col-sm-10">
      <select class="form-control form-control-sm" required>
        <option *ngFor="let proyecto of listaProyectos">{{proyecto.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h6>IMPORTES "MI VIVIENDA"</h6>
      <div class="card border-dark mb-3 col-sm-12">
        <div class="card-body">
          <div class="row form-group">
            <label class="col-sm-4 form-control-label">Bono:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="bono" value="0.00">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 form-control-label">Ahorro:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="ahorro" value="0.00">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 form-control-label">Refuerzo:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="refuerzo" value="0.00">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Minucipalidad-->
    <div class="col-md-6">
      <h6>MUNICIPALIDAD</h6>
      <div class="card border-dark mb-3 col-sm-12">
        <div class="card-body">
          <div class="row form-group">
            <label class="col-sm-5 form-control-label">Valor Terreno:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="bono" value="0.00">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-5 form-control-label">Techo m
              <sup>2</sup>:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="techo" value="0.00">
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-5 form-control-label">m
              <sup>2</sup> Construido:</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="construido" value="0.00">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>